#{{ ansible_managed }}

User	"{{ pound_user }}"
Group	"{{ pound_group }}"

LogLevel {{ pound_log_level }}

Control "{{ pound_control_socket }}"

ListenHTTP
  Address {{ pound_listen_http_address }}
  Port	{{ pound_listen_http_port }}

  Service
    BackEnd
		  {% for server in pound_backend_servers %}
      Address	{{ server[0] }}
      Port	{{ server[1] }}
			{% endfor %} 
    End
  End
End